.width100{
    width: 100%;
}
.warning{
    color: orange;
}
.searchPadding{
    padding: .5rem 0;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin:10px 0px;
}

/* media query for mobile devices */
@media (max-width: 600px) {
    .mobilePadding {
        padding: 0px 10px; 
    }
}