.searchPadding{
    padding: 1rem 0;
}
.paraBorder{
    border: 0.2rem dotted #ccc;
    padding: 1rem;
}
.height{
    max-height: 50vh;
    overflow-y: auto;
}
.ulColor{
        color: #666060;
}
.wrapText{
    display: flex;
    justify-content: space-between;
}

/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
    .height {
        max-height: 70vh; /* max-height for mobile devices */
    }
}
